@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~admin-lte/dist/css/adminlte.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min";
@import "~select2/dist/css/select2.min";
@import "~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min";
@import "~summernote/dist/summernote-bs4";

$fa-font-path: "../webfonts";

$colorDanger: #f56954;

.content-wrapper > .content {
    padding-bottom: 1em;
}

form {
    label.error {
        color: $colorDanger;
        margin-top: 3px;
        display: block;
    }

    input.error, select.error {
        border-color: $colorDanger;
    }

    .error .select2-selection {
        border-color: $colorDanger !important;
    }

    .note-frame.error {
        border-color: $colorDanger !important;
    }

    .form-image-container {
        margin: 10px 0;
    
        img {
            border-radius: 5px;
            height: 100px;
        }
    }
}

.table-actions {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    a {
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

.user-no-photo-avatar {
    text-align: center;
    color: #17394d;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: lighter;
    font-size: 16px;
    background: #dfe3e6;
}

.select2 {
    width: 100% !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0.30rem 0.75rem;
}

.note-editor {
    &.note-frame {
        border: 1px solid rgba(0, 0, 0, 0.125) !important;
    }

    .card {
        box-shadow: 0 0 !important;
    }
    
    .card-header.note-toolbar {
        background: white !important;
    }
    
    .btn-light {
        background-color: #fff !important;
        border-color: rgba(0, 0, 0, 0.125) !important;
        box-shadow: 0 0 !important;
    }
}

.ui-datepicker {
    z-index: 999 !important;
}